# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
_ReSharper*
bin/
obj/
*.suo
*.sln.cache
*.swp
.svn
TestResult.xml

*.user
*.pidb
.idea/
settings/*
Backup*
UpgradeLog*
_UpgradeReport*
*.sln.cache
.*.swp

AssemblyTitle.cs
.nuget/NuGet.exe
*.user
!*.ReSharper.user
*.DotSettings.user
logs/
packages/
.deploy
.vs/
tmp

KopfBridge.Service.GraphiteAggregator/.nuget/